<ul class="nav pull-right">
    <li><a href="#">Sign Up</a></li>
    <li class="divider-vertical" style="color:black;"></li>
    <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
        <!-- Login form here -->
        <form action="#" method="post" accept-charset="UTF-8">
            <input id="email" style="margin-bottom: 15px;" type="text" name="_email" size="30" placeholder="Email"/>
            <input id="password" style="margin-bottom: 15px;" type="password" name="_password" size="30" placeholder="Password" />
            <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
        </form>
    </div>
    </li>
</ul>